
TgCrypto
https://raw.githubusercontent.com/HasibulKabir/pyrogramarchive/master/pyrogramasyncv0.18.0.zip
git+https://github.com/ytdl-org/youtube-dl
wget
pillow
hachoir
ffmpeg-python
--upgrade youtube_dl
ffmpeg
ffprobe
